@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="nav-container">
                <!-- This is the new div class you could add -->
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/Login">Login</a></li>
                    <!-- Other navigation links as needed -->
                </ul>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
