@using System.ComponentModel.DataAnnotations;
@page "/login"
@inject IUserService UserService

<PageTitle>Log in</PageTitle>

<h1 class="text-center">Log in</h1>
<div class="login-container">
    <div class="login-box">
        <EditForm Model="user"
            OnValidSubmit="HandleValidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div>
                <label for="username">Username</label>
                <InputText id="username" @bind-value="user.Username" />
            </div>

            <div>
                <label for="password">Password</label>
                <InputText id="password" type="password" @bind-Value="user.Password" />
            </div>

            <button type="submit">Go!</button>
        </EditForm>
    </div>
</div>

    <p>Please log into continue</p>

@code {
    private UserModel user = new UserModel();

    private async Task HandleValidSubmit()
    {
        await UserService.SavedUserAcync(user);
    }

    public class UserModel
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }
}